---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div class="informacion">
      <img src="/public/favicon.svg" alt="Ãcono" />
      <h2><a href="/">{SITE_TITLE}</a></h2>
    </div>
    <div class="internal-links">
      <HeaderLink href="/">Inicio</HeaderLink>
      <HeaderLink href="/about">Sobre mi</HeaderLink>
      <HeaderLink href="/form">Contacto</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  .informacion {
    display: flex;
    align/items: center;
    gap: 0.5em;
  }
  .informacion img {
    width: 45px;
    height: 45px;
    object-fit: contain;
  }
  h2 {
    margin: 1;
    font-size: 1.2em;
    margin: 0;
    color: #28557f;
  }
  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  .internal-links a {
    color: #2b5e8d;
    font-weight: bold;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    color: #d97706;
    border-bottom-color: color var(--accent);
    font-weight: normal;
  }
  .internal-links {
    display: flex;
    gap: 1em;
    font-size: 1em;
  }
</style>
